<!-- <div class="container">
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Please consult this website to see how a chemical engineer is using Ruby On Rails for the first time.</p>
  <p> Notice that I am in professional conversion into the IT domain.To do that I am signed in <%= link_to "Stuk", 'https://stuk.io/en' %> and <%= link_to "Codecademy", 'http://www.codecademy.com/' %>.</p>
  	<p>By exploring this website you will be able to find my professional course. </p>
  	<h3> Contact me if you are interested to hire me!</h3>
</div>
</div> -->

<div id="headerwrap">
	<section id="about" name="about"></section>
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Mónica Seco</h1>
					<h3>Web Designer | Ruby on Rails Developer | Chemical Engineer</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div>

	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>ABOUT</h5>
				</div>
				<div class="col-lg-6">
					<p align="justify"> My name is Mónica Seco. I am a self-taught designer & developer focused on HTML/CSS and Ruby On Rails.
						I am trying to convert myself professionally from Chemical Engineering to the IT domain.
						In 2014 I decided to sign in <%= link_to "Codecademy", 'http://www.codecademy.com/' %> and <%= link_to "Stuk", 'https://stuk.io/en' %> in order to learn more about web development.</p>
					<p align="justify">I am starting my own work as I go along with my learning.</p>
					

				</div>
				
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div>

	<section id="resume" name="resume"></section>
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EDUCATION</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Chemical Engineering</t><br>
					Superior Institut of Engineering of Coimbra (<%= link_to "ISEC", 'http://www.isec.pt/default.aspx' %>)<br>
					Coimbra, Portugal<br></p>
					
					<i>Bachelor's Degree</i>
					
				</div>
				<div class="col-lg-3">
					<p><sm>GRADUATED IN DECEMBER 2009</sm><br></p>
				</div>
	
		</div><!--/.row -->
		<br>
		<hr>
		<div class="col-lg-2 col-lg-offset-1">
					<h5>ADDTIONAL TRAINING</h5>
				</div>
				<div class="col-lg-6">
					<p><t>HTML/CSS</t><br>
						<%= link_to "Codecademy", 'http://www.codecademy.com/' %><br>
						<i>Learned how to create websites by structuring and styling pages with HTML and CSS.</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2014</sm><br></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>JavaScript</t><br>
						<%= link_to "Codecademy", 'http://www.codecademy.com/' %><br>
						<i>Learned the fundamentals of JavaScript.</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2014</sm><br></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>jQuery</t><br>
						<%= link_to "Codecademy", 'http://www.codecademy.com/' %><br>
						<i>Learned how to make interactive websites and create animations.</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2014</sm><br></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Ruby On Rails</t><br>
						<%= link_to "Stuk", 'https://stuk.io/en/courses/ruby-on-rails-fundamentals' %><br>
						<i>Learned the Ruby On Rails Fundamentals.</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2015</sm><br></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Ruby On Rails</t><br>
						<%= link_to "Stuk", 'https://stuk.io/en/courses/2-sided-marketplace' %><br>
						<i>Learning how to build a marketplace using Ruby on Rails</i>
					</p>
				</div>
				<div class="col-lg-3">
					<imp><sm>IN PROGRESS</sm></imp>
					</p>
				</div>
		</div>
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>SKILLS</h5>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="javascript" height="130" width="130" style="width: 130px; height: 130px;"></canvas>
						<p>HTML/CSS</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 60,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130" style="width: 130px; height: 130px;"></canvas>
						<p>Bootstrap</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 50,
										color:"#1abc9c"
									},
									{
										value : 50,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="wordpress" height="130" width="130" style="width: 130px; height: 130px;"></canvas>
						<p>JavaScript</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 30,
										color:"#1abc9c"
									},
									{
										value : 70,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="html" height="130" width="130" style="width: 130px; height: 130px;"></canvas>
						<p>jQuery</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 40,
										color:"#1abc9c"
									},
									{
										value : 60,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="photoshop" height="130" width="130" style="width: 130px; height: 130px;"></canvas>
						<p>Ruby On Rails</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>

					<div class="col-lg-3 centered">
						<canvas id="illustrator" height="130" width="130" style="width: 130px; height: 130px;"></canvas>
						<p>Git</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 25,
										color:"#1abc9c"
									},
									{
										value : 75,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("illustrator").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div>

	<section id="work" name="work"></section>
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h4><strong>To Do List</strong></h4>
				</div>

				<div class="col-lg-6 col-lg-offset-1">
					<p><i>This application was built during my training on the Stuk platform. It was developed using the Ruby On Rails framework and deployed using the <%= link_to "Heroku", 'https://www.heroku.com/' %> cloud.</i></p>
				</div>

				<div class="image">					
					<p><%= link_to image_tag("Mpage_stukdo.png",:style => "width:600px;display: block; margin: 0 auto;"), 'http://desolate-castle-3365.herokuapp.com/' %></p>
					<h6 class="text-center">Used gems: 'twitter-bootstrap-rails', 'font-awesome-rails', 'simple_form', 'devise','auto_html','rails_12factor' and 'pg'</h6>
				</div>
		<br/>
				<div class="col-lg-6 col-lg-offset-3">
					<p>Try this application by using the credentials below.<br/>
					<strong>User:</strong><i> teste@teste.com</i><br/>
					<strong>Password:</strong><i> 1234567890</i></p>
				</div>
		
		</div><!--/.row -->
		<br>
		<br>
	</div>

	<section id="contact" name="contact"></section>
<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5>CONTACT</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Email</t><br>
						seco.monica@outlook.com <br>
					</p>
					
				</div>
				<div class="col-lg-3">
					<p><sm>SOCIAL LINKS</sm></p>
					<p>						
						<%= link_to '<i class="icon-linkedin"></i>'.html_safe, "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" %>
					</p>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->

	</div>

	<div id="c">
		<div class="container">
			<p>Created by <strong>Mónica Seco</strong> @2015</p>
		</div>
	</div>